body {
    text-align: center;
    background: black;

}
h1 {
    color: red;
}
a {
    color:yellow;
}
.image {
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
    display: block;

}

.button{
    display: block;
    margin: 0 auto;
    background-color: blue;
    color:white;
    width: 200px;
    border-color: blue ;
}