body {
    text-align: center;
    background: black;
}
h1 {
    color: red;
}
a {
    color:yellow;
}
button {
    background:blue;
    color: white;
    text-align: center;
    width: 200px;
    padding: 40px;
}


